{{page-title "Book Store with Octane"}}

<h2>
    Welcome in our awesome Bookstore!
</h2>
<h3>Do you want know more about our <LinkTo @route="authors">authors</LinkTo> ?</h3>

<br>

<div class="{{if blur 'blur-background'}}">
  {{outlet}}
</div>