<h3>You are an...</h3>
<input type="radio" id="admin" name="isAdmin" onclick={{this.navigateToAdmin}}>
<label for="admin">Admin</label>
<br>
<input type="radio" id="guest" name="isAdmin" onclick={{this.navigateToGuest}} />
<label for="guest">Guest</label>